<h1>Car Market Status of 2020 (early):</h1>
<div>
    <h3> Average Year:
        <div>
            {{results.year_avg}}
        </div>
    </h3>
    <h3> Average Mileage:
        <div>
            {{results.mileage_avg}}
        </div>
    </h3>
    <h3> Average Price:
        <div>
            {{results.price_avg}}
        </div>
    </h3>
</div>
